[user]
    name = Waldo Plasmatics
    email = maartenvandessel@hotmail.com

[credential]
    username = mvdssel
    helper = "cache --timeout=3600"

[core]
    editor = vim
    excludesfile = ~/dotfiles/git/.gitignore_global
	autocrlf = input

[color]
    ui = true

[alias]
    # Already defined in .bashrc
    gitlog = log --graph --decorate --all
    # list files
    ls = ls-files
    # list deleted files
    lsd = ls-files --deleted
    # remove deleted files
    rmd = !git rm `git ls-files --deleted`

    ; br = branch
    ; cm = commit
    ; co = checkout
    ; st = status

[push]
    default = current
